#page-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 20rem 3rem;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
}

.background {
    background-color: #333;
}