
.burgrr-sidebar {
    position: fixed !important;
    top: 0;
    z-index: 100;
}

.burgrr {
    aspect-ratio: 1/1;
    color: white;
    background-color: var(--background);
    text-shadow: 2px 2px 4px var(--text-shading);
    font-size: 2rem;
}

.burgrr:hover {
    background-color: #777;
}

.sidebar {
    flex-direction: column;
    background-color: #555;
    height: 100%;
    width: 200px;
    position: fixed !important;
    z-index: 120;
    overflow: auto;
    border-right: 2px solid var(--text-shading) !important;
    top: 0;
}

.sidebar button {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.sidebar button:hover {
    background-color: var(--secondary);
}

.sidebar button:active {
    background-color: var(--button-click);
}

.sidebar a {
    text-decoration: none;
    font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
    background-color: var(--primary);
    color: var(--text);
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    text-shadow: 2px 2px 4px #000;
    font-weight: bold;
    font-size: 22px;
}

.sidebar a:hover {
    background-color: var(--secondary);
}

.sidebar a:active {
    background-color: var(--button-click);
}

.sidebar-items {
    color: var(--text);
    background-color: var(--secondary);
    text-shadow: 2px 2px 4px #000;
    font-weight: bold;
    font-size: 22px;
}