:root {
    --text: #ffffff;
    --background: #333;
    --alt-background: #222;
    --text-shading: #000;
    --primary: #c3b1d1;
    --secondary: #66476e;
    --accent: ;
    --select-hover: #888;
    --button: #66476e;
    --button-hover: rgba(0, 0, 0, 0.15);
    --button-click: rgba(0, 0, 0, 0.25)
}

#page-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 20rem 3rem;
}

.body-flexbox {
    display: flex;
    flex-direction: row;
}

.sidebar-offset {
    width: 3%;
    height: 100%;
    background-color: var(--background);
    border-right: 4px var(--text-shading);
}

.main-body {
    width: 100%;
    height: 100%;
}

.right-sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
}

.background {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    height: fit-content;
}