@media screen and (min-device-width: 1001px) and (max-device-width: 1400px) { 
    .article-overlay {
        padding: 0;
        font-size: 1rem;
        text-align: center;
    }
    
    .article-overlay p {
        display: none;
    }

    .sidebar button {
        font-size: 24px;
        padding: 16px 32px;
    }

    .sidebar a {
        font-size: 22px;
        padding: 16px 32px;
    }
}

@media (max-width: 1000px) {
    .article-container {
        margin-right: 0%;
    }
    
    .right-sidebar {
        display: none;
    }

    .sidebar-right {
        display: flex;
        flex-direction: column;
        background-color: #555;
        height: 100%;
        width: 100%;
        position: fixed !important;
        z-index: 140;
        overflow: auto;
        top: 0;
    }

    .secondary-article {
        margin: 1%;
    }

    .sidebar-right button {
        padding: 16px 32px;
        font-size: 24px;
        border-radius: 25px;
    }

    .burgrr-sidebar-right {
        position: fixed !important;
        float: right !important;
        top: 0; right: 0;
        z-index: 100;
    }

    .right-sidebar-articles {
        padding: 0;
        margin: 0;
    }

    .burgrr-right {
        aspect-ratio: 1/1;
        color: white;
        background-color: #333;
        text-shadow: 2px 2px 4px #000;
        font-size: 2rem;
        
    }
}

@media (min-device-width: 800px) and (max-device-width: 1000px) {
    .article-overlay p {
        display: none;
    }
}

@media (min-width: 800px) {
    .navlist li:last-child {
        border-left: 6px solid #333;
    }

    .navlist li:first-child {
        border-right: 6px solid #333;
    }

    .navlist {
        height: 50px;
    }

    .navigationbar {
        height: 50px;
    }

    .burgrr-right {
        display: none;
    }
}

@media (max-width: 799px) {

    .sidebar-offset {
        width: 0%;
    }

    .burgrr-sidebar {
        z-index: 120;
    }

    .burgrr {
        z-index: 100;
    }

    .news-grid, .sub-articles-grid {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .article-column {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        margin-bottom: auto;
        justify-content: space-between;
    }
    
    .sub-article-column {
        flex: 1 0 100%;
        margin-bottom: 10px;
    }

    .navigationbar {
        display: flex;
        justify-content: space-between;
        height: max-content;
        margin-top: 8%;
        flex-direction: column;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50px;
        width: auto;
        align-items: center;
    }
    
    .navlist li {
        display: none;
        height: fit-content;
        border-top: 4px solid #333;
        border-bottom: 4px solid #333;
        border-left: 4px solid #333;
    }

    .navlist li:first-child {
        border-left: 4px #333;
    }

    .navlist li:last-child {
        float: none;
        align-self: center;
        border-right: 4px solid #333;
        margin-left: 0%;
    }

    .article-overlay {
        padding: 0px;
        height: fit-content;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        background: linear-gradient(transparent, rgba(0,0,0,0.8));
        font-family: 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
        text-align: left;
        text-wrap: inherit;
        text-shadow: 2px 2px 4px #000;
    }
    
    .article-image:hover {
        opacity: 0.6;
    }

    .sub-article-grid {
        display: none;
    }

    .about-footer a {
        border-right: none;
        margin-right: 5%;
        float: right;
        text-decoration: none;
        color: lightgreen;
        font-size: 1rem;
    }

    .traditional-contact a {
        text-decoration: none;
        color: lightcyan;
        font-size: 1rem;
    }

    .new-contact a {
        text-decoration: none;
        color: lightblue;
        font-size: 1rem;
        margin-right: 3%;
    }
}